@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<AuthorizeView Context="authState">
    <Authorized>
        <h1>Hello, @authState.User.Identity?.Name!</h1>

        <p>Welcome to your new app.</p>

      
    </Authorized>

    <NotAuthorized>
        <h1>Hello!</h1>

        <p>Welcome to your new app.</p>
    </NotAuthorized>
</AuthorizeView>
